<%- include('partials/header'); -%>

<header>
  <div class="brain">
    <img src="/images/brain.png" alt="">
  </div>
  <div class="headings">
    <h2>Кльові ігри</h2>
    <h3>для когнітивних тренувань</h3>
    <a href="/games" class="btn">Грати</a>
  </div>
</header>

<hr>

<div class="container row">
  <div class="top col">
    <h3>Топ-3</h3>
    <img src="/images/home-img-top.png" alt="">
    <div class="top__info" id="top">
    </div>
  </div>
  <% if (user) { %>
  <div class="statistic col">
    <h3>Моя статистика</h3>
    <img src="/images/home-img-statistic.png" alt="">
    <div class="statistic__info" id="my-statistic">
    </div>
  </div>
  <% } %>
</div>

<hr>

<div class="container news">
  <% if (post) { %>
    <h3> <%= post.header %></h3>
    <img src="/images<%= post.imageLink %>" alt="">
    <div class="news__info">
      <%= post.description %>
    </div>
    <video controls>
      <source src="/videos<%= post.videoLink %>" type="video/mp4">
      Пробачте, Ваш браузер не підтримує це відео.
    </video>
  <% } %>
</div>
<% if (user && post) { %>
  <% if (manager) { %>
    <div class="container">
      <br>
        <a href="/update-post/<%= post._id %>" class="btn btn-game">Оновити допис</a>
    </div>
  <% } %>
<% } %>

<hr>

<script src='/js/home.js'></script>
<%- include('partials/footer'); -%>